@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Rufina', serif;
  text-align: center;
}

h1{
font-size: 36px;
}

h2{
font-size: 22.36px;
}

.title {
  height: 35%;
  margin-top:30px;
}

.subtitles {
  height: 20%;
  margin-top:60px;
  padding-right:30px;
}

a:hover{
  color: #BC000A;
}

body {
  background-color: #000000;
  color: #DDD;
  line-height: 31px;
  width: 100%;
  margin: 0px;

}

canvas{
  width: 100%;
  height: 100%;
}

.container{
  position:fixed;
  height:200px;
  width:100%
}

#Header{
  width: 420px;
  height: 145px;
  border: 3px ridge white;
  justify-content: center;
  margin: 15px auto;
  background-color: #0c0c0c;
}



#soldiers{
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: absolute;

}

#soldierInfo{
  width: 400PX;
  height: 420px;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: red;

}

/*#Footer{
  width: 100%;
  height: 100px;
  display: inline-block;
  border-top: 3px ridge white;
  padding-top: 50px;
  margin: 0px auto;
}
*/


@media only screen and (max-width: 400px) {
  body {
    /*width: fit-content*/
  }

  #Header{
    width: 100%;

  }

  h1{
  font-size: 30px;
  }

  h2{
  font-size: 16.36px;
  }

  .title {
    height: 35%;
    margin-top:30px;
  }
  .subtitles a {
    padding-right:10px;
  }
}
