@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Rufina', serif;
  text-align: center;
}

h1{
font-size: 36px;
}

h2{
font-size: 22.36px;
}

.title {
  margin-top:50px;
}

body {
  background-color: #000000;
  color: #DDD;
  line-height: 31px;
  width: 100%;

}

#Header{
  width: 400px;
  height: 125px;
  border: 3px ridge white;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}



#soldiers{
  width: 100%;
  height: 450px;
  display: inline-bl45k;
  overflow: hidden;

}

#soldierInfo{
  width: 400PX;
  height: 420px;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: red;

}

#Footer{
  width: 100%;
  height: 100px;
  display: inline-block;
  border-top: 3px ridge white;
  padding-top: 50px;
  margin: 0px auto;
}



@media only screen and (max-width: 390px) {
  body {
    width: fit-content
  }

  #Header{
    margin: 0px, 0px;
  }

  h2{
  font-size: 24.36px;
  }
}
