<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>LEST WE FORGET</title>
    <meta name="description" content="In rememberance of the NZ soldiers who fought and died in WW1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>

    <div id="Header">
      <h1 class='title'>Lest We Forget</h1>

    </div>

    <div id="soldiers"></div>

    <div id="Footer">

      <h2><a>1914</a> - <a>1915</a> - <a>1916</a> - <a>1917</a> - <a>1918</a><h2>


    </div>

    <div id="SoldierInfo">
    </div>

    <script src="{{ url_for('static', filename='js.js') }}"></script>

  </body>

</html>
