<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>LEST WE FORGET</title>
    <meta name="description" content="In rememberance of the NZ soldiers who fought and died in WW1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <link rel="shortcut icon" href="#" /
  </head>

  <body>



    <div id="soldiers" style="height:100%">
<!--      <div id="soldierInfo">
</div>-->
    </div>

    <div class='container'>
      <div id="Header">
        <h1 class='title'>Lest We Forget<br/></h1>
        <h2><a>1914</a> - <a>1915</a> - <a>1916</a> - <a>1917</a> - <a>1918</a><h2>
      </div>
    </div>

  <!--  <div id="Footer">

      <h2><a>1914</a> - <a>1915</a> - <a>1916</a> - <a>1917</a> - <a>1918</a><h2>


    </div> -->


    <!--
    import { TrackballControls } from './jsm/controls/TrackballControls.js';
    import { BufferGeometryUtils } from './jsm/utils/BufferGeometryUtils.js';
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
    <script src="{{ url_for('static', filename='three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='soldiers.js') }}" type="module"></script>
  <!--    trying to test basic threejs
  <script src="js/three.js"></script>
  <script>
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );

      renderer = new THREE.CanvasRenderer();
      var container = document.getElementById('soldiers');
      var w = container.offsetWidth;
      var h = container.offsetHeight;
      renderer.setSize(w, h);
      container.appendChild(renderer.domElement);


			var geometry = new THREE.BoxGeometry( 1, 1, 1 );
			var material = new THREE.MeshBasicMaterial( { color: 0xFF0000 } );
			var cube = new THREE.Mesh( geometry, material );
			scene.add( cube );

      var geometryS = new THREE.SphereGeometry( 5, 32, 32 );
      var materialS = new THREE.MeshBasicMaterial( {color: 0xffffff} );
      var sphere = new THREE.Mesh( geometryS, materialS );
      scene.add( sphere );

			camera.position.z = 5;

			var animate = function () {
				requestAnimationFrame( animate );

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
		</script>
   -->

  </body>

</html>
